.jobBoard {
	display: flex;
	align-items: center;
	animation: fadein ease 400ms;
	justify-content: space-evenly;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	width: 96%;
	border: 1px solid green;
	background: #f6f7f9;
	height: 100vh;
	/* 
	width: 100vw; */
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.leftside {
	width: 68%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
}

.leftside-content::-webkit-scrollbar {
	width: 0.2rem;
}

.leftside-content::-webkit-scrollbar-thumb {
	background: #6649b8;
}

/* @keyframes show-filter {
	0% {
		height: 0rem;
	}
	100% {
		height: 20rem;
	}
}

@keyframes hide-filter {
	0% {
		height: 20rem;
	}
	99% {
		height: 0rem;
		display: none;
	}
} */

.leftside-content {
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 100%;
	overflow-y: scroll;
}

.column-labels {
	margin: 5px;
	padding: 1rem 0 1rem;
	display: flex;
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	background-color: #ffffff;
	border: 1px solid #ebebef;
}

.column-labels span {
	opacity: 50%;
	font-weight: 700;
	font-size: 0.8rem;
}

.c1 {
	width: 60.7%;
	margin-left: 2rem;
}

.c2 {
	width: 15.8%;
}

.c3 {
	width: 14.8%;
}

.c4 {
	width: 6.3%;
}

.row {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 1.5rem;
	border-radius: 4px;
	margin: 5px;
	background-color: white;
	border: 1px solid #ebebef;
	transition: 200ms;
}

.row-active {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 1.5rem;
	border-radius: 4px;
	margin: 5px;
	background-color: rgb(220, 239, 248);
	border: 1px solid #ebebef;
	transition: 200ms;
}

.row:hover {
	background-color: rgb(231, 244, 250);
}

.row-container1 {
	height: 3rem;
	display: flex;
	align-items: center;
	width: 60%;
}
.row-container1 span {
	padding-left: 3%;
	font-weight: 300;
}

.row-container2 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
}

.row-container3 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18%;
}

.row-container4 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
}

.row-container4 span {
	color: #79af59;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination {
	border: 1px solid #ebebef;
	width: 96.2%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
}

.pagination img {
	border: 1px solid #ebebef;
	padding: 0.2rem;
}

.pagination li {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	width: 1rem;
	border: 1px solid #ebebef;
	padding: 0.3rem 0.5rem 0.3rem;
	margin: 0.9rem 0 0.9rem;
}

/* .top-content {
	border: 1px solid red;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-icons {
	border: 1px solid red;
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem;
}

.topicon {
	height: 50px;
} */
