.blurred-box {
	background-color: #16161642;
	border-radius: 40px;
	backdrop-filter: blur(40px);
	width: 100vw;
	height: 100vh;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
}

.picture {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.landinglogo {
	height: 7rem;
	display: flex;
	align-items: center;
	font-size: 3rem;
}

.landinglogo svg {
	width: 50px;
}

.landinglogo span {
	transform: translateX(0.5rem);
	font-family: 'Pacifico', cursive;
	color: white;
}

.landing-nav {
	display: flex;
	padding: 2rem;
	width: 45%;
	align-items: center;
	margin-left: 10rem;
}

.landing-nav-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 550px;
	font-size: 1.3rem;
	margin-left: 5rem;
}

.landing-nav-items li {
	color: #c3c4c5;
}

.sign-upb {
	position: absolute;
	width: 120px;
	height: 55px;
	border-radius: 25px;
	background-color: #00a66c;
	border: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	right: 10%;
}

.slide-panel {
	position: absolute;
	margin-top: 7%;
	transform: translateX(10rem);
	height: 480px;
	width: 500px;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 2rem;
	border-left: 1px solid #e2e2e2;
}

@keyframes slideleft {
	0% {
		left: 20px;
	}
	100% {
		left: -800px;
	}
}

@keyframes slideright {
	0% {
		left: -800px;
	}
	100% {
		left: 20px;
	}
}

@keyframes slideleft2 {
	0% {
		left: 600px;
	}
	100% {
		left: 20px;
	}
}

@keyframes slideright2 {
	0% {
		left: 20px;
	}
	100% {
		left: 600px;
	}
}

.slideLeft {
	position: absolute;
	width: 500px;
	padding: 0.5rem;

	animation: slideleft 1.7s forwards;
}

.slideLeft-2 {
	position: absolute;
	padding: 0.5rem;

	width: 500px;
	animation: slideleft2 1.7s forwards;
}

.landing-info {
	padding: 0.5rem;

	position: absolute;
	width: 500px;
	animation: slideright 1.7s forwards;
}

.landing-info-2 {
	padding: 0.5rem;

	position: absolute;
	width: 500px;
	animation: slideright2 1.7s forwards;
}

.bigboy {
	font-family: 'Montserrat', sans-serif;
	color: rgb(219, 219, 219);
	line-height: 75px;
	font-size: 80px;
}

.smallboy {
	font-family: 'Montserrat', sans-serif;
	color: rgba(194, 194, 194, 0.644);
	line-height: 25px;
}

.clicky {
	width: 120px;
	height: 55px;
	border-radius: 25px;
	background-color: #00a66c;
	border: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	transform: translate(155px, 700px);
}
