.signup-box {
	height: 550px;
	width: 600px;
	margin: auto;
	transform: translateY(50%);
	border: 2px solid rgba(0, 0, 0, 0.205);
}

.signup-buttons {
	height: 60px;
}

.freelancer-button {
	height: 100%;
	width: 50%;
	border: 1px solid rgb(231, 237, 241);
	opacity: 0.6;
	outline: none;
	cursor: pointer;
	font-size: 17px;
	color: rgb(152, 165, 173);
}

.client-button {
	height: 100%;
	width: 50%;
	border: 1px solid rgb(231, 237, 241);
	opacity: 0.6;
	outline: none;
	cursor: pointer;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.739);
}

.client-button-active {
	height: 100%;
	width: 50%;
	border: 0;
	outline: none;
	font-size: 17px;
	color: rgb(51, 64, 73);
	background: linear-gradient(to right, rgb(245, 245, 245) 50%, #ffffff 50%) left;
	background-size: 200%;
	transition: 250ms;
	background-position: -100% 0;
}

.freelancer-button-active {
	height: 100%;
	width: 50%;
	border: 0;
	font-size: 17px;
	background: linear-gradient(to right, rgb(245, 245, 245) 50%, #ffffff 50%) left;
	background-size: 200%;
	transition: 250ms;
	background-position: 100%;
	background-color: white;
	outline: none;
	color: rgb(51, 64, 73);
}

.login-button1:hover {
	background-position: left;
	cursor: pointer;
	color: black;
}

.free-signup {
	width: 80%;
	transform: translateY(35px);
	margin: auto;
	text-align: center;
}

.free-signup p {
	color: rgba(0, 0, 0, 0.691);
	font-weight: 300;
	font-size: 16px;
	margin-top: 20px;
}

.free-signup span {
	font-weight: 200;
	font-size: 46px;
	color: rgb(117, 129, 138);
}

.form-box-s input:focus {
	outline: 0;
	border: 2px solid rgba(30, 143, 255, 0.568);
}

.form-box-s {
	margin-top: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 230px;
}

.name {
	height: 20px;
	width: 44%;
	border-radius: 3px;
	font-size: 1rem;
	border: 2px solid rgba(0, 0, 0, 0.13);
	padding: 10px;
}

.mid {
	height: 20px;
	width: 100%;
	border-radius: 5px;
	font-size: 1rem;
	border: 2px solid rgba(0, 0, 0, 0.13);
	padding: 10px;
}

.s-logo {
	height: 25px;
}

.signup-button {
	width: 250px;
	margin: auto;
	height: 45px;
	transform: translateY(15px);
	background-color: black;
	border: 0;
	border-radius: 7px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	outline: none;
}

.signup-button:hover {
	cursor: pointer;
}

.form-box-s p {
	position: absolute;
	color: red;
	bottom: 0;
	transform: translate(150px, -35px);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinbox {
	height: 550px;
	width: 600px;
	margin: auto;
	transform: translateY(50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner-big {
	border: 0.2em solid rgba(0, 0, 0, 0.1);
	border-top: 0.2em solid #767676;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	animation: spin 0.8s linear infinite;
}

