.tabdiv {
	background-color: #222327;

	/* dashboard container */
}

.grid {
	display: flex;
	height: 100vh;
	position: relative;
}

.nav {
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background: #303238;
	min-width: 3.5%;
	height: 100%;
	border-radius: 5px;

	/* left side container */
}

.tablist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	/* div around the tabs */
}

.active {
}

.nonactive {
}

.main {
	display: flex;
	flex-direction: column;
	width: 96%;
	height: 100%;
	position: relative;
}

.topbar {
	background: #303238;
	width: 100%;
	height: 4%;
	text-align: center;
}

.profile {
	border-bottom: 1px solid #6d6e77;
	display: flex;
	justify-content: center;
	min-width: 100%;
	min-height: 10%;
}

.componentdiv {
	color: #c9c9cb;
}

.icon {
	width: 30px;
}

/* 
color: #525f7f;
background-color: #1e1e2f
--blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    --neutral: #ffffff;
    --darker: black;
  */

/*  
  home icon: 
  job board icon: dashboard
  jobs icon: assignment
  profile icon: account box
    */

/*  
things i know i wont change
notification icon: bell
settings icon: settings

   */
