:root {
	font-size: 16px;
}

body {
	background-color: rgb(244, 248, 249);
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

.main {
	border: 1px solid black;
	margin-left: 5rem;
	padding: 1rem;
}

.icon {
	height: 2rem;
}

.burgermenu {
	height: 2rem;
	margin-top: 1rem;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background: white;
	transition: width 400ms ease;
}

.navbar-wide {
	width: 15rem;
	height: 100vh;
	position: fixed;
	background: white;
	transition: width 300ms ease;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	margin-top: 20px;
	width: 100%;
}

.active-tab {
	margin-top: 20px;
	width: 98%;
	border-left: 3px solid #6649b8;
	background: #6749b844;
	overflow: hidden;
}

.nav-item:last-child {
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: #6649b8;
	text-decoration: none;
	transition: 300ms;
}

.nav-link:hover {
	background: #6749b844;
}

.hide-text {
	margin-left: 1rem;
	display: none;
}

.show-text {
	display: block;
	animation: fadein ease 0.9s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nav-link img {
	min-width: 2rem;
	margin: 0 1.5rem;
}

/* .navbar:hover .link-text {
	display: block;
} */

*/ .profile {
	border-bottom: 1px solid #6d6e77;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 3%;
}

.settings-cont {
	border: 1px solid green;
	position: absolute;
	top: 3%;
	height: 97%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentContainer {
	position: relative;
	right: 25px;
	min-width: 90%;
	height: 80%;
	background: #303238;
	border-radius: 25px;
}

/* .content{
	border: 1px solid blue;
	min-height: 100%;
} */

.imgcontainer {
	position: relative;
	border: 1px solid green;
	height: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.logo {
	height: 30px;
}

.tabTitle {
	position: relative;
	border: 1px solid green;
	max-height: 40px;
	min-width: 90%;
	right: 25px;
	color: #7a7a81;
}

.imgcontainer input[type='file'] {
	display: none;
}
.imgshape {
	position: relative;
	left: 20%;
	border: 3px solid #9d9da3;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	overflow: hidden;
}
.okk {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	background-color: #eee;
}

/*

  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;

   */

/* .profileimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
} */

/* .board {
	border: 1px solid red;
	position: relative;
	display: flex;
	justify-content: space-evenly;
} */

/* .listbox {
	position: relative;
	border: 1px solid purple;
	list-style-type: none;
	width: 97%;
	height: 100%;
} */

/* ---------------------------------------------------------------------- */

.jobpost-cont {
	position: absolute;
	top: 3%;
	height: 97%;
	width: 100%;
}

.jobdiv {
	border: 3px solid aquamarine;
	padding: 2%;
	margin: 1%;
	height: 75vh;
}

.listitem {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	border: 1px solid #d1d1d138;
	min-height: 6%;
	background-color: #fefefe;
	border-radius: 5px;
}

/* .listitem,
li {
	margin: 0px;
	padding: 0px;
} */

.pagination {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.circle {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	overflow: hidden;
	display: flex;
}

.content-table {
	min-width: 95%;
	border: 1px solid magenta;
	border-spacing: 0 20px;
	margin: 0 auto;
	font-size: 0.9em;
}

.content-table thead tr {
	text-align: left;
	color: #90a4ae;
	font-weight: bold;
}

/* .content-table th, */

.content-table td,
.content-table th {
	padding: 15px 12px;
}

.rows {
	border: 1px solid #d1d1d1ad;
	background-color: #fefefe;
}
