.tabdiv {
	background-color: #222327;
	/* dashboard container */
}

.grid {
	display: flex;
	height: 100vh;
	position: relative;
}

.nav {
	/* border: 2px solid blue; */
	margin: 0;
	position: relative;
	top: 49.8%;
	transform: translateY(-50%);
	background: #303238;
	min-width: 3%;
	height: 100%;
	/* left side container */
}

.tablist {
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	/* div around the tabs */
}

.active {
	border-right: 1px solid #9c9e21;
}

.nonactive {
}

.main {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
}

.topbar {
	background: #303238;
	min-width: 100%;
	min-height: 3%;
}

.profile {
	border-bottom: 1px solid #6d6e77;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 3%;
}

.icon {
	width: 30px;
}

.settings {
	position: absolute;
	top: 3%;
	height: 97%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentContainer {
	position: relative;
	right: 25px;
	min-width: 90%;
	height: 80%;
	background: #303238;
	border-radius: 25px;
}

/* .content{
	border: 1px solid blue;
	min-height: 100%;
} */

.imgcontainer {
	position: relative;
	border: 1px solid green;
	height: 50%;
	display: flex;
	align-items: center;
}

.logo {
	height: 30px;
}

.tabTitle {
	position: relative;
	border: 1px solid green;
	max-height: 40px;
	min-width: 90%;
	right: 25px;
	color: #7a7a81;
}

.imgcontainer input[type='file'] {
	display: none;
}
.imgshape {
	position: relative;
	left: 20%;
	border: 3px solid #9d9da3;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	overflow: hidden;
}
.okk {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	background-color: #eee;
}

/* 
color: #525f7f;
background-color: #1e1e2f
--blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    --neutral: #ffffff;
    --darker: black;
  */

/*  
  profile icon: account box
    */

/*  
things i know i wont change
notification icon: bell


   */

/* .profileimg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
} */
