.jobBoard {
	display: flex;
	height: 100vh;
	animation: fadein ease 400ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.leftside {
	width: 75%;
	margin-top: 3rem;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.leftside::-webkit-scrollbar {
	width: 0.3rem;
}

.leftside::-webkit-scrollbar-track {
	background: #9c9c9c;
}

.leftside::-webkit-scrollbar-thumb {
	background: #6649b8;
}

.job-header {
	width: 93%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 1rem;
}

.job-header h1 {
	color: rgb(32, 128, 224);
}

.dropdown p {
	font-size: small;
	opacity: 60%;
	margin: 0 0 10px 10px;
}

.sortbox{
	margin-left: 2rem;
	padding-top: 1rem;
	opacity: 50%;

}

.leftside-content {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.column-labels {
	width: 93%;
	display: flex;
}

.column-labels span {
	opacity: 50%;
	font-weight: 700;
	font-size: 0.8rem;
}

.c1 {
	width: 60.7%;
	margin-left: 2rem;
}

.c2 {
	width: 15.8%;
}

.c3 {
	width: 14.8%;
}

.c4 {
	width: 6.3%;
}

.row {
	margin: 0.6%;
	display: flex;
	height: 100%;
	font-size: 1.2rem;
	padding: 0.6%;
	width: 93%;
	border-radius: 15px;
	background-color: #ffffff;
	transition: 200ms;
}

.row-active {
	margin: 0.6% 0.6% 0.6% 3%;
	display: flex;
	height: 100%;
	font-size: 1.2rem;
	padding: 0.6%;
	width: 93%;
	border-radius: 15px;
	background-color: rgb(220, 239, 248);
	transition: 200ms;
}

.row:hover {
	background-color: rgb(231, 244, 250);
}

.row-container1 {
	height: 3rem;
	display: flex;
	align-items: center;
	width: 60%;
}
.row-container1 span {
	padding-left: 3%;
}

.row-container2 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
}

.row-container3 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18%;
}

.row-container4 {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
}
.row-container4 span {
	color: #79af59;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination li {
	font-size: 1.5rem;
	margin: 1rem;
}

.top-bar {
	border: 1px solid black;
	height: 9%;
	margin-bottom: 50px;
}

.top-content {
	border: 1px solid red;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-icons {
	border: 1px solid red;
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem;
}

.topicon {
	height: 50px;
}
