.settings-container {
	border: 1px solid green;
	height: 96vh;
	width: 96vw;
	margin-top: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.position {
	border: 1px solid black;
	width: 600px;
	height: 950px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.settings-header {
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-photo {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 100%;
}

.edit-picture {
	position: absolute;
	height: 35px;
	width: 35px;
	background-color: rgb(4, 100, 252);
	border-radius: 100%;
	transform: translate(50px, 55px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-picture input {
	display: none;
}

.edit-picture svg {
	fill: white;
	width: 15px;
	height: 15px;
}

.settings-forms {
	margin-top: 40px;
	width: 80%;
}

.form-short {
	width: 39%;
	font-size: 18px;
	padding: 15px;
	border-radius: 8px;
	border: 2px solid rgb(226, 237, 254);
	background-color: rgb(252, 253, 255);
}

.form-short-right {
	font-size: 18px;
	width: 39%;
	padding: 15px;
	float: right;
	border-radius: 8px;
	border: 2px solid rgb(226, 237, 254);
	background-color: rgb(252, 253, 255);
}

.form-long {
	font-size: 18px;
	width: 93%;
	border-radius: 8px;
	margin-top: 40px;
	padding: 15px;
	border: 2px solid rgb(226, 237, 254);
	background-color: rgb(252, 253, 255);
}

.label-fn {
	position: absolute;
	transform: translate(5px, -20px);
	font-size: 15px;
	color: rgb(170, 172, 173);
}

.label-ln {
	position: absolute;
	transform: translate(43px, -20px);
	font-size: 15px;
	color: rgb(170, 172, 173);
}

.label-e {
	position: absolute;
	transform: translate(-216px, 69px);
	font-size: 15px;
	color: rgb(170, 172, 173);
}

.label-p {
	position: absolute;
	transform: translate(5px, 20px);
	font-size: 15px;
	color: rgb(170, 172, 173);
}
